.title-AbouteMe{
     color:white;
    border-radius: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.pie-fondo{
    width: 300px;
    padding-top: 200px;
    
   
}