.App {
  padding-top: 30px;
  background-color: black;
  height: 100vh;
  margin-top: 0;
  border-top: 0;

}

.App-link {
  color: #61dafb;
}

.body{
  margin-top: 40px;
  
}
.conten{
  margin-left: 0px;
}